{% extends "layout.html" %}

{% block content %}

<!-- Mensaje de bienvenida -->
<div class="col-md-12 row-content d-flex align-items-center rounded bg-white shadow">

	<div class="p-5 block" style="width: 50%; background-image: url('https://www.uneti.edu.ve/campus/pluginfile.php/30406/block_html/content/WhatsApp%20Image%202022-11-21%20at%206.50.09%20AM.jpeg'); background-size: cover;">
	</div>

	<div class="p-5 block" style="width: 50%;">
		<h2>¡Bienvenidos!</h2><br>
		<p>Mi nombre es Ángel Marcano, estudiante del Tramo 2 del Trayecto 1 del Programa de Ingeniería Informática de la Universidad Nacional Experimental de las Telecomunicaiones e Informática.</p>
		<p>Les presento la priemra etapa de mi proyecto de red social de estudiantes de la Uneti, de la unidad curricular "Progrmación I Módulo 2</p>

	</div>
</div>

{% endblock %}