{% extends "layout.html" %}

{% block content %}

<div class="col-md-12 row-content d-flex align-items-center rounded bg-white shadow">

	<div class="p-5 block" style="width: 50%; background-image: url('https://www.uneti.edu.ve/campus/pluginfile.php/30406/block_html/content/IMG_3289.JPG'); background-size: cover;">
	</div>

	<div class="block p-5" style="width: 50%;">
		<h2>Somos Uneti</h2><br>
		<p>Universidad Nacional Experimental de las Telecomunicaciones e Informática (Uneti) avanza en planes de formación en el área de las criptomonedas, se consolida como la primera universidad del país especializada en el estudio de la blockchain.</p>
		<p>Estamos ubicados en Hoyo de la puerta, Edif. Complejo Tecnológico Sartenejas Piso PB, OF. 1 Caracas, 1080, Miranda Teléfono: +58-04166088251 E-mail: uneti@gmail.com</p>
		<p>Ir al <a href="https://www.uneti.edu.ve/campus/">Campus virtual</a></p>
	</div>
</div>

{% endblock %}